<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AnnMapper">

	<select id="count" resultType="int">
		SELECT COUNT(*) FROM ANNOUNCEMENT
	</select>
  
	<select id="countFiltered" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM ANNOUNCEMENT
		<where>
			<if test="search != null and keyword != null and keyword != ''">
				<choose>
					<when test="search == 'subject'">
						AN_TITLE LIKE '%' || #{keyword} || '%'
					</when>
					<when test="search == 'content'">
						AN_CONTENT LIKE '%' || #{keyword} || '%'
					</when>
					<when test="search == 'subcon'">
						AN_TITLE LIKE '%' || #{keyword} || '%'
						OR AN_CONTENT LIKE '%' || #{keyword} || '%'
					</when>
				</choose>
			</if>
		</where>
	</select>

	<select id="getAnnList" parameterType="map"
		resultType="com.example.demo.model.Announcement">
		SELECT * FROM (
		SELECT a.*, ROWNUM AS rn
		FROM (
		SELECT *
		FROM ANNOUNCEMENT
		<where>
			AN_STATE = 1
			<if test="search != null and keyword != null and keyword != ''">
				<choose>
					<when test="search == 'subject'">
						AND AN_TITLE LIKE '%' || #{keyword} || '%'
					</when>
					<when test="search == 'content'">
						AND AN_CONTENT LIKE '%' || #{keyword} || '%'
					</when>
					<when test="search == 'subcon'">
						AND (AN_TITLE LIKE '%' || #{keyword} || '%' OR AN_CONTENT LIKE '%' ||
						#{keyword} || '%')
					</when>
				</choose>
			</if>
		</where>
		ORDER BY AN_NUM DESC
		) a
		WHERE ROWNUM &lt;= #{end}
		)
		WHERE rn &gt;= #{start}
	</select>



	<select id="getContent" parameterType="int"
		resultType="com.example.demo.model.Announcement">
		SELECT * FROM ANNOUNCEMENT WHERE AN_NUM = #{no}
	</select>

</mapper>
