<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.GameInfoMapper">

	<select id="selectTop10GamesByPlatform"
		resultType="com.example.demo.model.GameInfo">
		SELECT *
		FROM (
		SELECT *
		FROM GAME_INFO
		WHERE
		LOWER(GI_PLATFORM) = LOWER(#{platform})
		ORDER BY GI_NUM
		)
		WHERE ROWNUM
		&lt;= 10
	</select>

	<select id="getGameInfo" parameterType="map"
		resultType="com.example.demo.model.GameInfo">
		SELECT *
		FROM GAME_INFO
		WHERE G_NUM = #{gnum}
		AND GI_STATE =
		#{state}
	</select>

	<select id="getGameInfosByGnum" parameterType="String"
		resultType="com.example.demo.model.GameInfo">
		SELECT *
		FROM GAME_INFO
		WHERE G_NUM = #{gnum}
		ORDER BY GI_STATE, GI_DATE DESC
	</select>

</mapper>