<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MemberMapper">
    <select id="findById" parameterType="string" resultType="member">
        SELECT *
        FROM MEMBER
        WHERE ID = #{id}
    </select>
       <select id="findBySocialIdAndPlatform" resultType="member">
        SELECT * FROM MEMBER WHERE SOCIAL_ID = #{socialId} AND SOCIAL_PLATFORM = #{platform}
    </select>
   
    <insert id="insert" parameterType="member">
    INSERT INTO MEMBER 
        (ID, NAME, NICKNAME, PW, BIRTH_DATE, EMAIL_ID, EMAIL_DOMAIN, SOCIAL_PLATFORM, SOCIAL_ID, PHONE, GENDER, JOIN_DATE, STATE, EMAIL_AD, EMAIL_VERIFIED)
    VALUES 
        (#{id}, #{name}, #{nickname}, #{pw, jdbcType=VARCHAR}, #{birthDate}, #{emailId}, #{emailDomain}, #{socialPlatform}, #{socialId}, #{phone}, #{gender}, SYSDATE, #{state}, #{emailAd}, #{emailVerified})
</insert>

</mapper>	
