<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ScrapMapper">
	<!-- steam dc -->
	<delete id="steamDCClean">
		DELETE FROM steam_dc
	</delete>
	<insert id="steamDCInsert" parameterType="scrap">
		INSERT INTO steam_dc 
		VALUES(#{pk},#{title},#{thumb},#{price},#{fprice},#{rate},#{link},#{scrapedAt},#{nTitle})
	</insert>
	<select id="getSteamDC" resultType="scrap">
		SELECT * FROM steam_dc
	</select>
	
	<!-- steam new -->
	<delete id="steamNewClean">
		DELETE FROM steam_new
	</delete>
	<insert id="steamNewInsert" parameterType="scrap">
		INSERT INTO steam_new 
		VALUES(#{pk},#{title},#{thumb},#{price},#{fprice},#{rate},#{link},#{scrapedAt},#{nTitle})
	</insert>
	<select id="getSteamNew" resultType="scrap">
		SELECT * FROM steam_new
	</select>
	
	<!-- steam top -->
	<delete id="steamTopClean">
		DELETE FROM steam_top
	</delete>
	<insert id="steamTopInsert" parameterType="scrap">
		INSERT INTO steam_top
		VALUES(#{pk},#{title},#{thumb},#{price},#{fprice},#{rate},#{link},#{scrapedAt},#{nTitle})
	</insert>
	<select id="getSteamTop" resultType="scrap">
		SELECT * FROM steam_top
	</select>
	
	<!-- direct new -->
	<delete id="directNewClean">
		DELETE FROM direct_new
	</delete>
	<insert id="directNewInsert" parameterType="scrap">
		INSERT INTO direct_new
		VALUES(#{pk},#{title},#{thumb},#{price},#{fprice},#{rate},#{link},#{scrapedAt},#{nTitle})
	</insert>
	<select id="getDirectNew" resultType="scrap">
		SELECT * FROM direct_new
	</select>
	
	<!-- nintendo dc -->
	<delete id="nintendoDCClean">
		DELETE FROM nintendo_dc
	</delete>
	<insert id="nintendoDCInsert" parameterType="scrap">
		INSERT INTO nintendo_dc
		VALUES(#{pk},#{title},#{thumb},#{price},#{fprice},#{link},#{scrapedAt},#{nTitle})
	</insert>
	<select id="getNintendoDC" resultType="scrap">
		SELECT * FROM nintendo_dc
	</select>
	
	<!-- nintendo new -->
	<delete id="nintendoNewClean">
		DELETE FROM nintendo_new
	</delete>
	<insert id="nintendoNewInsert" parameterType="scrap">
		INSERT INTO nintendo_new
		VALUES(#{pk},#{title},#{thumb},#{price},#{fprice},#{link},#{scrapedAt},#{nTitle})
	</insert>
	<select id="getNintendoNew" resultType="scrap">
		SELECT * FROM nintendo_new
	</select>
	
	<!-- planet new -->
	<delete id="planetNewClean">
		DELETE FROM planet_new
	</delete>
	<insert id="planetNewInsert" parameterType="scrap">
		INSERT INTO planet_new
		VALUES(#{pk},#{title},#{thumb},#{price},#{fprice},#{rate},#{link},#{scrapedAt},#{nTitle})
	</insert>
	<select id="getPlanetNew" resultType="scrap">
		SELECT * FROM planet_new
	</select>
</mapper>